
main > .container {
    padding: 60px 15px 0;
  }
  
  .footer {
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .header {
    position: relative;
    top: 0;
    width: 100%;
  }
  .container-for-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 80px 50px 55px 50px;
  }  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }