<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script>  
window.addEventListener("load", function(evt) {
    document.getElementById("spinner").style.display = 'none';
    var output = document.getElementById("output");
    var input = document.getElementById("input");
    var ws;
    var mouse_moved = false;

    var print = function(message) {
        var d = document.createElement("li");
		d.setAttribute("class","list-group-item")
        d.innerHTML = message;
        output.appendChild(d);
    };

    document.getElementById("open").onclick = function(evt) {
        if (ws) {
            return false;
		}
        h = document.getElementById("canvas").getAttribute("height");
        w = document.getElementById("canvas").getAttribute("width");
		ws = new WebSocket(`{{.}}?h=${h}&w=${w}`);
		
        ws.onopen = function(evt) {
            print("Connected to Server");
        }
        ws.onclose = function(evt) {
			print("Closed Connection");
            ws = null;
        }
        ws.onmessage = function(evt) {
			if (evt.data.startsWith('{') && evt.data.endsWith('}')){
                var feedback = JSON.parse(evt.data);
                if (feedback.action == "loaded"){
                    document.getElementById("spinner").style.display = 'none';
                }
                if (feedback.action == "loading"){
                        document.getElementById("spinner").style.display = 'block';
                }
				print(evt.data)
			}else{
				var ctx = document.getElementById('canvas').getContext('2d');
				var img = new Image();
				img.onload = function() {ctx.drawImage(img, 0, 0);};
				img.src = 'data:image/jpeg;base64,'+evt.data;
			}
        }
        ws.onerror = function(evt) {
            print("Error: " + evt.data);
        }
        return false;
    };

	document.getElementById("canvas").onmousemove = function(evt){
			if (!ws) {return false;}
            mouse_moved = true;
			var rect = evt.target.getBoundingClientRect();
			var x = (evt.clientX - rect.left); 
			var y = (evt.clientY - rect.top); 
			ws.send(`{"x":${x},"y":${y}, "cmd":""}`);
			return false;	
	}

	document.getElementById("canvas").onwheel = function(evt){
		evt.preventDefault();
			if (!ws) {return false;}
			ws.send(`{"x":${evt.deltaX},"y":${evt.deltaY}, "cmd":"zoom"}`);
			return false;	
	}

	document.getElementById("canvas").oncontextmenu = function(evt){
		evt.preventDefault();
        return false;
    }

	document.getElementById("canvas").onmousedown = function(evt){
		if (!ws) {return false;}
        evt.preventDefault();
        mouse_moved = false;
		var rect = evt.target.getBoundingClientRect();
		var x = (evt.clientX - rect.left); 
		var y = (evt.clientY - rect.top); 
		ws.send(`{"x":${x},"y":${y}, "cmd":"mousedown", "val":"${evt.button}"}`);
		return false;	
	}

    document.getElementById("canvas").onmouseup = function(evt){
		evt.preventDefault();
		if (!ws) {return false;}
		var rect = evt.target.getBoundingClientRect();
		var x = (evt.clientX - rect.left); 
		var y = (evt.clientY - rect.top); 
		ws.send(`{"x":${x},"y":${y}, "cmd":"mouseup", "val":"${evt.button}", "moved":${mouse_moved}}`);
		return false;	
	}

    document.getElementById("canvas").onkeydown = function(e) {
        e = e || window.event;
        if (!ws) {return false;}
        ws.send(`{"cmd":"keydown", "val":"${e.keyCode}"}`);
        return false;   
    }

    document.getElementById("canvas").onkeyup = function(e) {
        e = e || window.event;
        if (!ws) {return false;}
        ws.send(`{"cmd":"keyup", "val":"${e.keyCode}"}`);
        return false;   
    }

    document.getElementById("send").onclick = function(evt) {
        if (!ws) {return false;}
		print(`Set Field of View: ${input.value}`);
        ws.send(`{"cmd":"fov", "val":"${input.value}"}`);
        return false;
    };

    document.getElementById("close").onclick = function(evt) {
        if (!ws) {return false;}
		ws.send(`{"cmd":"close"}`);
        ws.close();
        return false;
	};
});
</script>
</head>
<body>

<div class="container">
<div class="jumbotron">
  <h1 class="display-4">g3n Server Side</h1>
  <p class="lead">This is a simple g3n server side example. Click connect to start.</p>
  <hr class="my-4">
  <button type="button" id="open" class="btn btn-primary">Connect to Server</button>
  <button type="button" id="close" class="btn btn-secondary">Close Connection</button>
</div>
  <div class="row">
    <div class="col">

<div class="input-group mb-3">
  <input type="text" class="form-control" id="input" placeholder="20" aria-label="20" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" id="send" type="button" id="button-addon2">Set Field of View</button>
  </div>
</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <div id="spinner" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<canvas id="canvas" width="800" height="800">
</canvas>
    </div>
    <div class="col">
<ul class="list-group" id="output">
  <li class="list-group-item">Command Log:</li>
</ul>
    </div>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>